.color-white
  background-color: #fff !important
  border-radius: 0px !important

.color-sky-blue
  background-color: #C5DBE4 !important
  border-radius: 0px !important

.color-light-orange
  background-color: #FFE2D6 !important
  border-radius: 0px !important

.color-light-green
  background-color: #CCECED !important
  border-radius: 0px !important

.color-light-gray
  background-color: #F5F5F5 !important
  border-radius: 0px !important

.color-light-red
  background-color: #FAD3DB !important
  border-radius: 0px !important

.color-white-punteado
  border: dotted !important
  border-color: #fff !important
  border-radius: 0px !important

.color-gray-lineal
  border: outset !important
  border-color: #707070 !important
  border-radius: 0px !important

.color-secundario-punteado
  border: dotted !important
  border-color: $color-secundario !important
  border-radius: 0px !important

.color-acento-contenido-punteado
  border: dotted !important
  border-color: $color-acento-contenido !important
  border-radius: 0px !important

.color-acento-botones-punteado
  border: dotted !important
  border-color: $color-acento-botones !important
  border-radius: 0px !important
  
.tarjeta.tarjeta--azul
  background-color: #D2E1F1 !important
  border-radius: 0px !important

.tarjeta.color-secundario *
  color: #000

.tarjeta-avatar
  padding-top: 30px !important

.bloque-texto-b.color-primario:before
  background-color: lighten($color-primario, 25%) !important

.bloque-texto-b.color-secundario:before
  background-color: lighten($color-secundario, 25%) !important

.bloque-texto-b.color-acento-contenido:before
  background-color: lighten($color-acento-contenido, 25%) !important

.bloque-texto-b.color-acento-botones:before
  background-color: lighten($color-acento-botones, 50%) !important

.bloque-texto-b:before
  top: 85% !important
  left: 0% !important

.color-acento-contenido, .color-primario, .color-secundario, .color-acento-botones
  border-radius: 0px !important

.tabla-b th
  background-color: $color-acento-contenido !important

.iconV
  width: 100px !important
  height: 120px !important
  align-self: center !important

.iconH
  width: 220px !important

.th-five
  colspan: 5